body{
    background-color: black;
    font-family: "Lexend", sans-serif;
    background-image: url(pink\,\ purple\ &\ yellow\ aesthetic\ gradient\ background\ mac.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

a,li{
    text-decoration: none;
    color: white;
    
}



nav{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 1170px;
    justify-content: space-between;
    background-color: transparent;
    color: black;
    display:flex;
    z-index: 999;
    margin-left: 20px;
    
}


ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    
}

#ikon1{
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    border-color: transparent;
    color:aliceblue;
    width: 250px;
    height: 330px;
    background-color: rgba(0,0,0,0.08);
    backdrop-filter: blur(100px);
}

#ikon1:hover {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.08);
}

#image{
    border-radius: 20px;
    width: 200px;
}

#isiIkon{
    text-align: center;
    padding:10px;
    padding-top: 25px;
}

table#catalog{
    border-spacing: 40px;
    margin:auto;
}